#This project will require you to use the Visual Studio Terminal:

1. On the top left corner, click on "Terminal".
2. Click on "New Terminal".
3. Make sure the terminal is in the "wrappers-chat-bot-temp/" directory.

#Install the following dependencies using pip (inside of cd chat-bot-temp):

1. fastapi
2. uvicorn
3. scikit-learn
4. numpy
5. pandas
6. networkx
7. python-multipart
8. openpyxl

#To start the chatbot, run the following command in the terminal:

1. cd wrappers-chat-bot-temp
2. cd backend
3. npm run start (for front end).
4. uvicorn main:app or python -m uvicorn main:app (open a second terminal, repeat steps 1 & 2 before typing the command in, for back end).
5. Press Ctrl + C to end the chatbot in the terminal.